
#app {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 50px 1fr;
}

#header {
  background-color: white;
  grid-column: 1/-1;
}

.txtbox {
  background-color: white;
  width: 50px;
  text-align: right;
}

img {
  width:35px;
  height: 35px;
}
.btn {
  //width: 45px;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.panel__item.active {
  background-color: grey;
  border-radius: 100%;
}

#drawing {
  background-color: #EDF4F6;
}

#properties {
  background-color: white;
}
.properties-list {
  margin-top: 10px;

  display: grid;
  grid-template-columns: 80px 1fr;

  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

