$primary: #ffffff;
$primary--dark: #edf4f6;

#app {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 70px 1fr;
}

canvas-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $primary;
  grid-column: 1/-1;
}

.txtbox {
  background-color: $primary;
  width: 50px;
  text-align: right;
}

img {
  width: 25px;
  height: 25px;
}
.btn {
  width: 45px;
  height: 45px;

  margin-right: 10px;
  margin-left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.active {
  background-color: $primary--dark;
  border-radius: 8px;
}

#drawing {
  background-color: $primary--dark;
}

#properties {
  background-color: $primary;
}
.properties-list {
  margin-top: 10px;

  display: grid;
  grid-template-columns: 80px 1fr;

  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
