$primary--light: #454545;
$primary: #373737;
$primary--dark: #2B2B2B;

$black: #181818;

#app{
    display: grid;
    grid-template-columns: 60px 1fr 300px;    
    grid-template-rows: 50px 1fr
}

//HEADER

#header{
    background-color: $primary--dark;
    grid-column: 1/-1;
}
input{
    background-color: $primary--light;
    width: 40px;
    text-align: end;
}

/**************************************************************************************/
/**************************************************************************************/


//PANEL
#panel{
    background-color: $primary;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#drawing{
    background-color: rgb(255, 255, 255);
}


#properties{
    background-color: $primary--dark;
}

