$primary--light: #454545;
$primary: #373737;
$primary--dark: #2b2b2b;

#app {
  display: grid;
  grid-template-columns: 60px 1fr 300px;
  grid-template-rows: 50px 1fr;
}

#header {
  background-color: $primary--dark;
  grid-column: 1/-1;
}
.txtbox {
  background-color: $primary--light;
  width: 50px;
  text-align: right;
}

#panel {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
}
.panel__item {
  width: 47px;
  height: 47px;
  padding: 12px;
  margin-top: 5px;
}
.panel__item.active {
  background-color: $primary--dark;
  border-radius: 100%;
}

#properties {


  background-color: $primary;
}
.properties-list {
  margin-top: 10px;

  display: grid;
  grid-template-columns: 80px 1fr;

  align-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

