html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1rem;
  background-color: #ebebeb;
}

// Paddings / Margins
.jb__pd1 {
  padding: 1rem;

  &--tb {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
}

.jb__mg1 {
  margin: 1rem;
}

// Grid / Flex

.jb__grid {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 50px 400px;

  &--cfull {
    grid-column: 1/ -1;
  }
}

.jb__flex {
  display: flex;

  &__column {
    display: flex;
    flex-direction: column;
  }

  &--center {
    align-items: center;
  }
}

//text
.jb__txt--white {
  color: #7e7e7e;
}

//background colors

.jb__bg__pm--light {
  background-color: #33343a;
}
.jb__bg__pm--dark {
  background-color: #242529;
}

.jb__bg__purple {
  background-color: #845ec2;
}
.jb__bg__pink {
  background-color: #d65db1;
}
.jb__bg__rose {
  background-color: #ff6f91;
}
.jb__bg__salmon {
  background-color: #ff9671;
}
.jb__bg__orange {
  background-color: #ffc75f;
}

.jb__shadow {
  box-shadow: 0px 2px 2px rgba(156, 156, 156, 0.301);
}

img.icon {
  width: 1.2em;
  height: 1.2em;
}

.jb__active {
  border-bottom: 3px solid #29988e;
  color: #29988e;
}

input.lineWidth {
  width: 3em;
  text-align: right;
  border-radius: 0.3em;

  border: 3px solid rgb(189, 189, 189);
}

settings-group {
  flex: 1;
}
tabs {
  min-width: 250px;
  display: flex;
  justify-content: space-around;
}

canvas-container {
  //grid-column: 1/ 2;
  grid-row: 2/ 3;

  canvas {
    border: 20px solid #000000;
  }
}

panel {
  //display: flex;
  //

  color-palette {
    padding-top: 10px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 10px;
    justify-items: center;

    color {
      width: 35px;
      border-radius: 1.5em;
    }
    color:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}
