html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
canvas{
  border-style: solid;
}



j-toolbar{
  display: flex;
  box-shadow: 5px 5px 15px #CECDCD;

  j-button{
    padding: 0.5em;

    img.icon{ 
      width: 1.2em;
      height: 1.2em;
    }
  }
}


j-tool-settings-bar{
  display: flex;
  box-shadow: 5px 5px 15px #CECDCD;

  j-button{
    padding: 0.5em;

   
  }
}
