$shadow: 0px 2px 2px rgba(156, 156, 156, 0.301);

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

toolbar {
  display: flex;
  box-shadow: $shadow;

  icon-button {
    padding: 0.5em;

    img.icon {
      width: 1.2em;
      height: 1.2em;
    }
  }

  icon-button.active {
    border-bottom: 3px solid rgb(36, 147, 221);
  }
}

toolbar-settings {
  display: flex;
  box-shadow: $shadow;
  height: 3em;

  icon-button {
    padding: 0.5em;
  }
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 50px 400px;

  toolbar-settings {
    grid-column: 1/ -1;
    grid-row: 1/ 2;

    display: flex;
    align-items: center;

    settings-group {
      flex: 1;
    }
    tabs {
      min-width: 250px;
      display: flex;
      justify-content: space-around;
    }
  }
  canvas-container {
    grid-column: 1/ 2;
    grid-row: 2/ 3;

    canvas {
      border-style: solid;
    }
  }

  panel {
    grid-column: 2/ 3;

    display: flex;
    flex-direction: column;

    color-palette {
      padding-top: 10px;

      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-row-gap: 10px;
      justify-items: center;

      color {
        width: 35px;
        border-radius: 1.5em;
      }
      color:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      color.purple {
        background-color: #845ec2;
      }
      color.pink {
        background-color: #d65db1;
      }
      color.rose {
        background-color: #ff6f91;
      }
      color.salmon {
        background-color: #ff9671;
      }
      color.orange {
        background-color: #ffc75f;
      }
    }
  }
}
